extends layout

block content
  h1= title
  h2 How to use api
  h3 Get car brand
  ul
   li
    a(href='./cars/brand') get all brand
  h3 Get car model
  ul
   li
    a(href='./cars/model') get all model